Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

fix:standard:
  stage: fix
  image:
    name: megabytelabs/standard:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  ...

publish:dockerhub:
  stage: publish
  image: megabytelabs/docker-publish:slim
  services:
  - docker:20.10.7-dind
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  tags:
  ...

publish:npm:
  stage: publish
  image: megabytelabs/npm-publisher:slim
  variables:
    GIT_DEPTH: 1
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .npm/
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  ...

test:molecule:e2e:darwin:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  needs: []
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:linux:
  stage: test
  image:
    name: megabytelabs/linux-molecule:latest
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: ArchLinux
    - OPERATING_SYSTEM: CentOS
    - OPERATING_SYSTEM: Debian
    - OPERATING_SYSTEM: Fedora
    - OPERATING_SYSTEM: Ubuntu
  needs: []
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  - brew install coreutils findutils gnu-sed grep gnu-tar gawk
  ...

test:molecule:windows:
  stage: test
  allow_failure: true
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-windows
  - windows
  - windows-1809
  script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/windows' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile-project.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/package.sh
  .config/scripts/lib/task.sh
  .config/scripts/lib/taskfile.sh
  .config/scripts/start.sh
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/semver-compare.sh
  .config/scripts/vscode.sh
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
  .vscode/tasks.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile.yml
  Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-ansibler.yml
  .config/taskfiles/install/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/update/project.gitlab-ci.yml
  Taskfile.yml
Due: fix:prettier

☁️ Automation
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-populate.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
  .config/taskfiles/web/Taskfile-ionic.yml
  .config/taskfiles/web/Taskfile-profile.yml
  .gitlab-ci.yml
  .gitlab/ci/update/project.gitlab-ci.yml
  README.md
  Taskfile.yml
  package.json
  poetry.toml
Due: fix:prettier, publish:dockerhub, publish:npm

☁️ Automation
  .config/docs/variables.json
  .config/nodemon.json
  .config/scripts/start.sh
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/common/Taskfile-code.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/symlink/Taskfile.yml
  .config/variables.json
  .vscode/tasks.json
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  test/linux/test.yml.liquid
Due: fix:prettier, publish:dockerhub, publish:npm

💎 style: test
  poetry.toml
Due: none

🧹 chore(lockfile): updated pnpm
  pnpm-lock.yaml
Due: none

☁️ Automation
  poetry.toml
  test/linux/test.yml.liquid
Due: none

♻️ refactor(files): added stuff
  package.json
  pnpm-lock.yaml
  poetry.toml
Due: fix:prettier, publish:dockerhub, publish:npm

☁️ Automation
  .config/requirements.txt
  .config/taskfiles/ansible/Taskfile-ansibler.yml
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-populate.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/common/Taskfile-code.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/go/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
  .config/taskfiles/web/Taskfile-ionic.yml
  .config/taskfiles/web/Taskfile-profile.yml
  .config/variables.json
  Taskfile.yml
  meta/main.yml
  molecule/converge.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  test/darwin/test.yml
  test/linux/test.yml
  test/windows/test.yml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  README.md
Due: fix:prettier

Commit
  poetry.lock
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  .config/scripts/start.sh
  .config/taskfiles/install/Taskfile-go.yml
  README.md
  poetry.lock
Due: fix:prettier, publish:dockerhub, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  .config/docs/Taskfile.yml.liquid
  .config/docs/variables.json
  .config/scripts/start.sh
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/release/Taskfile.yml
  .config/variables.json
  .vscode/tasks.json
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/Taskfile.yml.liquid
  .config/taskfiles/ansible/Taskfile-populate.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/upstream/Taskfile.yml
  .gitlab/ci/scripts/update-init.sh
Due: fix:prettier, publish:dockerhub

🧹 chore: testing ansibler
  molecule/.results/logs/2021-08-03-docker-snap.txt
  molecule/.results/logs/2021-08-05-docker-snap.txt
Due: none

☁️ Automation
  README.md
  meta/main.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/log
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/shell.js
  .config/scripts/semantic/prepare.sh
  .config/scripts/semantic/verify.sh
  .config/taskfiles/common/Taskfile.yml
Due: fix:prettier, fix:standard, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-python.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/publish/semantic-release.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab-ci.yml
  .gitlab/ci/update/common.gitlab-ci.yml
  .gitlab/ci/update/project.gitlab-ci.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/symlink/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile-common.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/nest/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/release/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/packer/Taskfile-build.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/security/Taskfile.yml
  meta/main.yml
  pnpm-lock.yaml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  package.json
  pnpm-lock.yaml
  poetry.lock
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  pnpm-lock.yaml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/python/Taskfile-test.yml
Due: fix:prettier

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
