Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .vscode/tasks.json
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/package-lock.json
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile.yml
  .config/yarn.lock
  .gitignore
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/variables.json
  .config/variables.json
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/variables.json
  .config/log
  .config/scripts/start.sh
  .config/taskfiles/install/Taskfile-software.yml
  .config/variables.json
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/install/Taskfile-software.yml
  .gitignore
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/docker/Taskfile-build.yml
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/lint/Taskfile-codeclimate.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/lint/Taskfile-codeclimate.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/lint/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/Brewfile
  .config/taskfiles/install/Taskfile-apt.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-rust.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .devcontainer/devcontainer.json
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/.devcontainer/devcontainer.json
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile.yml
  .vscode/tasks.json
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .devcontainer/devcontainer.json
  local/package-lock.json
  local/yarn.lock
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/.devcontainer/devcontainer.json
  .config/docs/local/package-lock.json
  .config/docs/local/yarn.lock
  .config/taskfiles/docker/Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/upstream/Taskfile-common.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/boilerplate/Taskfile.yml
  Taskfile.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile-populate.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  Taskfile.yml.liquid
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  Taskfile.yml
  Taskfile.yml.liquid
Due: fix:prettier

☁️ Automation
  local/package-lock.json
  package.json
  pnpm-lock.yaml
  test/darwin/test.yml.liquid
Due: fix:prettier, publish:dockerhub, publish:npm

☁️ Automation
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/upstream/Taskfile.yml
  package.json
  test/darwin/test.yml.liquid
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/variables.json
  .config/variables.json
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/boilerplate/Taskfile-prompt.yml
  pnpm-lock.yaml
Due: fix:prettier
