Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

fix:standard:
  stage: fix
  image:
    name: megabytelabs/standard:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  ...

publish:dockerhub:
  stage: publish
  image: megabytelabs/docker-publish:slim
  services:
  - docker:20.10.7-dind
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  tags:
  ...

publish:npm:
  stage: publish
  image: megabytelabs/npm-publisher:slim
  variables:
    GIT_DEPTH: 1
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .npm/
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  ...

test:molecule:e2e:darwin:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  needs: []
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:linux:
  stage: test
  image:
    name: megabytelabs/linux-molecule:latest
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: ArchLinux
    - OPERATING_SYSTEM: CentOS
    - OPERATING_SYSTEM: Debian
    - OPERATING_SYSTEM: Fedora
    - OPERATING_SYSTEM: Ubuntu
  needs: []
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  - brew install coreutils findutils gnu-sed grep gnu-tar gawk
  ...

test:molecule:windows:
  stage: test
  allow_failure: true
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-windows
  - windows
  - windows-1809
  script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/windows' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  pyproject.toml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
Due: fix:prettier

✨ feat(testing): test
  meta/main.yml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  .config/Brewfile
  .config/docs/variables.json
  .config/requirements.txt
  .config/scripts/start.sh
  .config/taskfiles/ansible/Taskfile-ansibler.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/app/Taskfile-virtualbox.yml
  .config/taskfiles/app/Taskfile.yml
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/symlink/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
  .config/variables.json
  .github/workflows/Windows.yml
  .travis.yml
  .vscode/tasks.json
  Taskfile.yml
  meta/main.yml
  molecule/local/molecule.yml
  package.json
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

🔧 chore(latest): latest
  .config/dockerignore
  .config/docs/variables.json
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/app/Taskfile-virtualbox.yml
  .config/taskfiles/boilerplate/Taskfile-prompt.yml
  .config/variables.json
  .vscode/extensions.json
  Taskfile.yml
  meta/main.yml
  molecule/.results/logs/2022-02-24-default.txt
  molecule/converge.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/hbs.cjs
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/app/Taskfile-virtualbox.yml
  .config/taskfiles/boilerplate/Taskfile-prompt.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-rust.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/npm/Taskfile-bundle.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/packer/Taskfile-build.yml
  .config/taskfiles/packer/Taskfile-update.yml
  .config/taskfiles/packer/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/update/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile.yml
  .config/taskfiles/vagrant/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
  .config/taskfiles/web/Taskfile-ionic.yml
  .gitignore
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/Brewfile
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/go/Taskfile-test.yml
  .config/taskfiles/go/Taskfile.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-update.yml
  Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

🔧 chore(latest): latest
  .config/dockerignore
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/go/Taskfile-test.yml
  .config/taskfiles/go/Taskfile.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile.yml
  .vscode/settings.json
  .vscode/tasks.json
  Taskfile.yml
  meta/main.yml
  molecule/.results/logs/.gitkeep
  molecule/converge.yml
  package.json
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/go/Taskfile-test.yml
  .config/variables.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  meta/main.yml
  molecule/converge.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-test.yml
  Taskfile.yml
  meta/main.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-test.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  local/slim/exe.txt
  local/slim/install.txt
  local/yarn.lock
  meta/main.yml
  molecule/converge.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/lint/Taskfile-codeclimate.yml
  Taskfile.yml
  meta/main.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  Taskfile.yml
  local/slim/exe.txt
  local/slim/install.txt
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-npm.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/lint/Taskfile-codeclimate.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/install/Taskfile-npm.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  Taskfile.yml
  local/slim/exe.txt
  local/slim/install.txt
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-ansible.yml
  .config/taskfiles/ui/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  Taskfile.yml
  local/package-lock.json
  local/slim/exe.txt
  local/slim/install.txt
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-update.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  Taskfile.yml
  local/slim/exe.txt
  local/slim/install.txt
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
