Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/LICENSE
  .config/docs/Taskfile.yml
  .config/docs/package.json
  .config/docs/pyproject.toml
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/common/Taskfile.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile-populate.yml
  .config/taskfiles/boilerplate/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile-populate.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-start.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  Taskfile.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-start.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-rust.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-gitomatic.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-go.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-rust.yml
  .config/taskfiles/install/Taskfile-software.yml
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-update.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/python/Taskfile.yml
Due: fix:prettier

Update Taskfile.yml
  Taskfile.yml
Due: fix:prettier

Update Taskfile.yml.liquid
  Taskfile.yml.liquid
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/lint/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/python/Taskfile.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-rust.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-npm.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/codeclimate.yml
  .config/cspell.json
  .config/docs/variables.json
  .config/taskfiles/install/Taskfile-gh.yml
  .config/variables.json
  .vscode/tasks.json
  LICENSE.liquid
  Taskfile.yml
  Taskfile.yml.liquid
  local/package-lock.json
  meta/main.yml
  molecule/converge.yml.liquid
  package.json
  package.json.liquid
  pyproject.toml
  pyproject.toml.liquid
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows
