Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

publish:dockerhub:
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  - git checkout "$CI_COMMIT_REF_NAME"
  ...

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:linux:
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  parallel:
    matrix:
    - OPERATING_SYSTEM: archlinux
    - OPERATING_SYSTEM: centos
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: fedora
    - OPERATING_SYSTEM: ubuntu
  script:
  - set -eo pipefail
  services:
  - docker:20.10.7-dind
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  script:
  - set -eo pipefail

test:molecule:windows:
  stage: test
  image: megabytelabs/molecule:latest
  services:
  - docker:dind
  allow_failure: true
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-github.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-gitlab.yml
Due: fix:prettier

✨ feat: rEADME
  README.md
Due: fix:prettier

♻️ refactor: lit
  .config/docs/common/contributing/header.md
  .config/docs/common/contributing/styleguides.md
  .config/docs/docs/ECOSYSTEM.md
  .config/docs/readme-playbook/introduction.md
  .config/hbs.cjs
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/lint/Taskfile-prose.yml
  docs/ECOSYSTEM.md
  molecule/default/molecule.yml
Due: fix:prettier

🐛 fix(version): uPdated min version
  meta/main.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  .config/docs/common/contributing/header.md
  .config/docs/common/contributing/styleguides.md
  .config/docs/readme-playbook/introduction.md
  .config/hbs.cjs
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/lint/Taskfile-prose.yml
  docs/ECOSYSTEM.md
  meta/main.yml
  molecule/converge.yml
  molecule/default/molecule.yml
  test/darwin/test.yml
  test/linux/test.yml
  test/windows/test.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/husky/prepare-commit-msg
  .config/scripts/prompts/environment.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile-prose.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  .vscode/tasks.json
  README.md
  Taskfile.yml
  molecule/converge.yml
  test/darwin/test.yml
  test/linux/test.yml
  test/windows/test.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

♻️ refactor(latest): updates with latest changes
  .config/husky/prepare-commit-msg
  .config/scripts/prompts/environment.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile-prose.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  .vscode/tasks.json
  Taskfile.yml
  molecule/converge.yml
  test/darwin/test.yml
  test/linux/test.yml
  test/windows/test.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ Automation
  README.md
Due: fix:prettier

☁️ Automation
  .config/commitlint.config.cjs
  .config/common-keywords.hbs.json
  .config/docs/Taskfile.yml.liquid
  .config/docs/common.json
  .config/docs/docs/CODEOWNERS
  .config/docs/docs/CODE_OF_CONDUCT.md
  .config/docs/docs/CONTRIBUTING.md
  .config/docs/docs/ECOSYSTEM.md
  .config/docs/dump
  .config/docs/dump.txt
  .config/docs/pnpm-lock.yaml
  .config/docs/readme-playbook/roles.md
  .config/docs/repository-list.txt
  .config/scripts/prompts/gitlab-group-command.js
  .config/scripts/prompts/molecule-desktop.js
  .config/scripts/prompts/molecule/local.js
Due: fix:prettier

☁️ Automation
  test/linux/test.yml.liquid
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/commitlintrc.cjs
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  README.md
  test/linux/test.yml.liquid
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile-docs.yml
Due: fix:prettier

☁️ Automation
  .config/commitlintrc.cjs
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  test/linux/test.yml.liquid
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/cspell.json
  README.md
Due: fix:prettier

📝 docs(meta): updated some meta info
  meta/main.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/e2e.linux.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.windows.gitlab-ci.yml
  meta/main.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  README.md
  requirements.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/config.yml
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/scripts/prompts/molecule/molecule.js
  .config/taskfiles/ansible/Taskfile-populate.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/gcp/molecule.yml
  poetry.lock
  pyproject.toml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/molecule.js
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/vscode/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/virtualbox.js
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/prepare.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/web/Taskfile-profile.yml
  .config/taskfiles/web/Taskfile.yml
  Taskfile.yml
  molecule/converge.yml
  molecule/default/molecule.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/config.yml
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/local.js
  .config/scripts/prompts/molecule/ssh.js
  .config/scripts/prompts/molecule/virtualbox.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/symlink/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/image/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/Brewfile
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/git/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/image/Taskfile.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/web/Taskfile-ionic.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/prettierignore
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/web/Taskfile-nx.yml
  .gitignore
  .vscode/extensions.json
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/image/Taskfile.yml
Due: fix:prettier

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
