Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

fix:standard:
  stage: fix
  image:
    name: megabytelabs/standard:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  ...

publish:dockerhub:
  stage: publish
  image: megabytelabs/docker-publish:slim
  services:
  - docker:20.10.7-dind
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  tags:
  ...

publish:npm:
  stage: publish
  image: megabytelabs/npm-publisher:slim
  variables:
    GIT_DEPTH: 1
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .npm/
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  ...

test:molecule:e2e:darwin:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  needs: []
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:linux:
  stage: test
  image:
    name: megabytelabs/linux-molecule:latest
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: ArchLinux
    - OPERATING_SYSTEM: CentOS
    - OPERATING_SYSTEM: Debian
    - OPERATING_SYSTEM: Fedora
    - OPERATING_SYSTEM: Ubuntu
  needs: []
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  - brew install coreutils findutils gnu-sed grep gnu-tar gawk
  ...

test:molecule:windows:
  stage: test
  allow_failure: true
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-windows
  - windows
  - windows-1809
  script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/windows' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile-android.yml
  .config/taskfiles/publish/Taskfile-brew.yml
  .config/taskfiles/publish/Taskfile-chrome.yml
  .config/taskfiles/publish/Taskfile-firefox.yml
  .config/taskfiles/publish/Taskfile-ios.yml
  .config/taskfiles/publish/Taskfile-opera.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/python/Taskfile.yml
  .vscode/tasks.json
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/upstream/Taskfile.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/upstream/Taskfile-common.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile-shared.yml
  .config/taskfiles/upstream/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/python/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/packer/Taskfile-build.yml
  .config/taskfiles/packer/Taskfile-update.yml
  .config/taskfiles/packer/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-gitlab.yml
Due: fix:prettier

☁️ Automation
  .config/docs/readme-role/subheader.md
  .config/docs/start.sh
  .config/docs/update-init.sh
  .config/docs/variables.json
  .config/scripts/start.sh
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/boilerplate/Taskfile-prompt.yml
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/npm/Taskfile-doc.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/publish/Taskfile-snap.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile.yml
  .config/variables.json
  .config/yamllint.yml
  .github/ISSUE_TEMPLATE/BugReport.yml.liquid
  .github/ISSUE_TEMPLATE/FeatureRequest.yml.liquid
  .github/ISSUE_TEMPLATE/SupportRequest.yml.liquid
  .github/ISSUE_TEMPLATE/config.yml.liquid
  .gitignore
  .gitlab/ci/scripts/update-init.sh
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  poetry.lock
  start.sh
  update-init.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/log/Taskfile.yml
  Taskfile.yml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/log/Taskfile.yml
  start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  poetry.lock
  pyproject.toml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/publish/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
  Taskfile.yml
  pyproject.toml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/log/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/publish/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/requirements.txt
  .config/taskfiles/install/Taskfile-python.yml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  docs/CODEOWNERS
  poetry.lock
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/publish/Taskfile.yml
Due: fix:prettier

fix(testing) Testing Semantic Release
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

fix(meta.yml): Testing Semantic Release
  meta/main.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile-snap.yml
  README.md
  meta/main.yml
  poetry.lock
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/variables.json
  .config/variables.json
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .gitlab-ci.yml
  Taskfile.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-test.yml
  pnpm-lock.yaml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/common/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
  pnpm-lock.yaml
Due: fix:prettier

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
