Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

fix:standard:
  stage: fix
  image:
    name: megabytelabs/standard:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  ...

publish:dockerhub:
  stage: publish
  image: megabytelabs/docker-publish:slim
  services:
  - docker:20.10.7-dind
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  tags:
  ...

publish:npm:
  stage: publish
  image: megabytelabs/npm-publisher:slim
  variables:
    GIT_DEPTH: 1
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .npm/
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  ...

test:molecule:e2e:darwin:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  needs: []
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:linux:
  stage: test
  image:
    name: docker:20.10.7
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: ArchLinux
    - OPERATING_SYSTEM: CentOS
    - OPERATING_SYSTEM: Debian
    - OPERATING_SYSTEM: Fedora
    - OPERATING_SYSTEM: Ubuntu
  needs: []
  variables:
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  before_script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  - bash .config/scripts/start.sh
  script:
  - task environment -- dev
  ...

test:molecule:windows:
  stage: test
  allow_failure: true
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-windows
  - windows
  - windows-1809
  script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/windows' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/task.sh
  .config/scripts/start.sh
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  pyproject.toml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .gitlab/ci/scripts/ubuntu-molecule-shim.sh
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/shell.js
  molecule/docker/molecule.yml
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/vagrant-up.js
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  molecule/default/molecule.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile.yml
  .gitignore
  .gitlab/ci/test/jest.gitlab-ci.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .gitignore
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .vscode/tasks.json
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-npm.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/go/Taskfile.yml
  .vscode/tasks.json
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .vscode/tasks.json
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/package.sh
  .config/scripts/lib/task.sh
  .config/scripts/start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/update/common.gitlab-ci.yml
  .gitlab/ci/update/project.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/update/project.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/python/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/task.sh
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/python/Taskfile.yml
Due: fix:prettier, publish:dockerhub

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
