Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-cloudflare.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  local/package-lock.json
  meta/main.yml
  package.json
  pnpm-lock.yaml
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .gitignore
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  meta/main.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/environment.js
  .config/prompts/gitlab-group.js
  .config/prompts/lib/decorate-files.js
  .config/prompts/lib/decorate-system.js
  .config/prompts/lib/log.js
  .config/prompts/molecule/desktop.js
  .config/prompts/molecule/docker.js
  .config/prompts/molecule/local.js
  .config/prompts/molecule/molecule.js
  .config/prompts/molecule/playbook.js
  .config/prompts/molecule/ssh.js
  .config/prompts/molecule/virtualbox.js
  .config/prompts/package.js
  .config/prompts/vagrant-up.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/log/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/prompts/environment.js
  .config/prompts/gitlab-group.js
  .config/prompts/lib/decorate-files.js
  .config/prompts/lib/decorate-system.js
  .config/prompts/lib/log.js
  .config/prompts/molecule/desktop.js
  .config/prompts/molecule/docker.js
  .config/prompts/molecule/local.js
  .config/prompts/molecule/molecule.js
  .config/prompts/molecule/playbook.js
  .config/prompts/molecule/ssh.js
  .config/prompts/molecule/virtualbox.js
  .config/prompts/package.js
  .config/prompts/vagrant-up.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/environment.js
  .config/prompts/gitlab-group.js
  .config/prompts/lib/decorate-files.js
  .config/prompts/lib/decorate-system.js
  .config/prompts/lib/log.js
  .config/prompts/molecule/desktop.js
  .config/prompts/molecule/docker.js
  .config/prompts/molecule/local.js
  .config/prompts/molecule/molecule.js
  .config/prompts/molecule/playbook.js
  .config/prompts/molecule/ssh.js
  .config/prompts/molecule/virtualbox.js
  .config/prompts/package.js
  .config/prompts/vagrant-up.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  local/yarn.lock
  meta/main.yml
  package.json
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-ansibler.yml
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-ansible.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/lint/Taskfile-prose.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/packer/Taskfile.yml
  .config/taskfiles/python/Taskfile-test.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/prompts/molecule/playbook.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/log/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
  start.sh
Due: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows
