Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:e2e:darwin, test:molecule:linux, test:molecule:darwin, test:molecule:windows

fix:prettier:
  stage: fix
  image:
    name: megabytelabs/prettier-write:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
    NODE_MODULES_PATH: /usr/local/lib/node_modules
    PRETTIER_CONFIG: '@mblabs/prettier-config'
  before_script:
  - git config pull.ff only
  ...

fix:standard:
  stage: fix
  image:
    name: megabytelabs/standard:slim
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  ...

publish:dockerhub:
  stage: publish
  image: megabytelabs/docker-publish:slim
  services:
  - docker:20.10.7-dind
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    GIT_DEPTH: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  tags:
  ...

publish:npm:
  stage: publish
  image: megabytelabs/npm-publisher:slim
  variables:
    GIT_DEPTH: 1
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .npm/
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  ...

test:molecule:e2e:darwin:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  needs: []
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:linux:
  stage: test
  image:
    name: megabytelabs/linux-molecule:latest
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: ArchLinux
    - OPERATING_SYSTEM: CentOS
    - OPERATING_SYSTEM: Debian
    - OPERATING_SYSTEM: Fedora
    - OPERATING_SYSTEM: Ubuntu
  needs: []
  ...

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  - brew install coreutils findutils gnu-sed grep gnu-tar gawk
  ...

test:molecule:windows:
  stage: test
  allow_failure: true
  needs: []
  variables:
    GIT_DEPTH: 1
  tags:
  - shared-windows
  - windows
  - windows-1809
  script:
  - "if [ \"$CI_COMMIT_BRANCH\" == 'test/windows' ]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  Taskfile.yml
Due: fix:prettier

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  meta/main.yml
  package.json
  pnpm-lock.yaml
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/image/Taskfile.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .vscode/tasks.json
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .github/ISSUE_TEMPLATE/BugReport.yml.liquid
  .github/ISSUE_TEMPLATE/FeatureRequest.yml.liquid
  .github/ISSUE_TEMPLATE/SupportRequest.yml.liquid
  .github/ISSUE_TEMPLATE/config.yml.liquid
  LICENSE.liquid
  Taskfile.yml.liquid
  local/package-lock.json
  local/yarn.lock
  meta/main.yml
  molecule/converge.yml.liquid
  package.json.liquid
  pnpm-lock.yaml
  pyproject.toml.liquid
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/readme-playbook/dependencies.md
  .config/docs/readme-playbook/quick-start.md
  .config/docs/readme-playbook/supported-os.md
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  meta/main.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:darwin: any of: main.yml
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
