Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fix:prettier, fix:standard, publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  fix:prettier: any of: **/*.{css,html,js,json,less,md,mjml,php,scss,sh,ts,xml,yml}
  fix:standard: any of: **/*.js
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/lint/Taskfile-markdown.yml
  .config/taskfiles/symlink/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/jest.gitlab-ci.yml
  package.json
Due: fix:prettier, publish:dockerhub, publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/lint/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/symlink/Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/gce.create.yml
  .config/molecule/vagrant.create.yml
  .config/scripts/prompts/molecule/molecule.js
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/ssh.js
  .config/taskfiles/ansible/Taskfile-test.yml
  molecule/remote/molecule.yml
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-populate.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/config.yml
  .config/molecule/files/windows_auth.py
  .config/molecule/handlers/main.yml
  .config/molecule/tasks/create_linux_instance.yml
  .config/molecule/tasks/create_windows_instance.yml
  .config/requirements.txt
  .config/scripts/prompts/molecule/molecule.js
  .config/taskfiles/ansible/Taskfile-ansibler.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/upstream/Taskfile.yml
  .github/FUNDING.yml
  .gitignore
  .vscode/tasks.json
  README.md
  molecule/.results/junit/.gitkeep
  molecule/.results/logs/.gitkeep
  molecule/converge.yml
  molecule/gcp/molecule.yml
  poetry.lock
  pyproject.toml
Due: fix:prettier, fix:standard, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/local.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/ssh.js
  .config/scripts/prompts/molecule/virtualbox.js
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/docker.js
  .config/taskfiles/ansible/Taskfile-test.yml
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  molecule/converge.yml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  Taskfile.yml.liquid
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/Taskfile.yml.liquid
  .gitignore
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/local.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/playbook.js
  .config/scripts/prompts/molecule/ssh.js
  .config/scripts/prompts/molecule/virtualbox.js
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  Taskfile.yml.liquid
Due: fix:prettier, fix:standard

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/Taskfile.yml.liquid
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  .gitlab/ci/lint/python/flake8.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/propagate/groups.gitlab-ci.yml
  .gitlab/ci/propagate/projects.gitlab-ci.yml
  .gitlab/ci/test/ansible/e2e.linux.gitlab-ci.yml
  .gitlab/ci/test/ansible/e2e.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/e2e.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.windows.gitlab-ci.yml
  .gitlab/ci/test/docker/slim.gitlab-ci.yml
  .gitlab/ci/test/jest-e2e.gitlab-ci.yml
  .gitlab/ci/test/python.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/lint/ansible-lint.gitlab-ci.yml
  .gitlab/ci/lint/eslint.gitlab-ci.yml
  .gitlab/ci/lint/gitlab-ci-lint.gitlab-ci.yml
  .gitlab/ci/lint/hadolint.gitlab-ci.yml
  .gitlab/ci/lint/markdown-lint.gitlab-ci.yml
  .gitlab/ci/lint/packer.gitlab-ci.yml
  .gitlab/ci/lint/prettier.gitlab-ci.yml
  .gitlab/ci/lint/python/bandit.gitlab-ci.yml
  .gitlab/ci/lint/python/black.gitlab-ci.yml
  .gitlab/ci/lint/python/flake8.gitlab-ci.yml
  .gitlab/ci/lint/python/mypy.gitlab-ci.yml
  .gitlab/ci/lint/python/pydocstyle.gitlab-ci.yml
  .gitlab/ci/lint/python/pylint.gitlab-ci.yml
  .gitlab/ci/lint/shellcheck.gitlab-ci.yml
  .gitlab/ci/lint/sonarcloud.gitlab-ci.yml
  .gitlab/ci/lint/standard.gitlab-ci.yml
  .gitlab/ci/lint/stylelint.gitlab-ci.yml
  .gitlab/ci/lint/tflint.gitlab-ci.yml
  .gitlab/ci/lint/vagrant.gitlab-ci.yml
  .gitlab/ci/lint/yamllint.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.windows.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/scripts/ubuntu-molecule-shim.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .gitlab/ci/scripts/ubuntu-molecule-shim.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/lib/task.sh
  .config/scripts/start.sh
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .gitlab/ci/scripts/ubuntu-molecule-shim.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  .gitlab/ci/scripts/ubuntu-molecule-shim.sh
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/upstream/Taskfile.yml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-gitlab.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/install/Taskfile-software.yml
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
Due: fix:prettier, publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  pyproject.toml
Due: fix:prettier, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
Due: fix:prettier

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile.yml
  .config/taskfiles/vscode/Taskfile.yml
Due: fix:prettier
