Repository ProfessorManhattan/ansible-androidstudio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Path conditions:
  publish:dockerhub: any of: Dockerfile, package.json, paths.txt, **/*.sh
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:linux: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:darwin: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)
  test:molecule:windows: (any of: main.yml) or (any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml)

automation(upstream-sync) Applying changes from upstream repository.
  Taskfile.yml
Due: none

automation(upstream-sync) Applying changes from upstream repository.
  .config/docs/blueprint-readme-playbook.md
  .config/docs/readme-playbook/software.md
  .config/docs/readme-playbook/web-apps.md
  Taskfile.yml
Due: none

automation(upstream-sync) Applying changes from upstream repository.
  .config/docs/common.json
  .config/docs/readme-playbook/web-apps.md
  Taskfile.yml
Due: none

automation(upstream-sync) Applying changes from upstream repository.
  .config/docs/readme-playbook/subheader.md
  Taskfile.yml
Due: none

automation(upstream-sync) Applying changes from upstream repository.
  .config/docs/common/readme/contribute.md
  .config/docs/pnpm-lock.yaml
  .config/docs/readme-role/subheader.md
  .config/docs/variables.json
  .config/variables.json
  README.md
  Taskfile.yml
Due: none

automation(upstream-sync) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-update.yml
  .gitlab/ci/scripts/update-init.sh
  Taskfile.yml
  molecule/archlinux-desktop/molecule.yml
  molecule/centos-desktop/molecule.yml
  molecule/ci-docker-archlinux/molecule.yml
  molecule/ci-docker-centos/molecule.yml
  molecule/ci-docker-debian-snap/molecule.yml
  molecule/ci-docker-debian/molecule.yml
  molecule/ci-docker-fedora/molecule.yml
  molecule/ci-docker-ubuntu-snap/molecule.yml
  molecule/ci-docker-ubuntu/molecule.yml
  molecule/debian-desktop/molecule.yml
  molecule/docker-snap/molecule.yml
  molecule/fedora-desktop/molecule.yml
  molecule/macos-desktop/molecule.yml
  molecule/ubuntu-desktop/molecule.yml
  molecule/windows-desktop/molecule.yml
  molecule/windows-desktop/prepare.yml
  package.json
  pnpm-lock.yaml
Due: publish:dockerhub, publish:npm

automation(upstream-sync) Applying changes from upstream repository.
  .config/molecule/config.yml
  .config/molecule/prepare.yml
  Taskfile.yml
  molecule/converge.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

automation(upstream-sync) Applying changes from upstream repository.
  .config/scripts/lib/package.sh
  .config/scripts/lib/task.sh
  .config/scripts/lib/taskfile.sh
  .config/scripts/semantic/prepare.sh
  .config/scripts/semantic/verify.sh
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .gitlab/ci/lint/shellcheck.gitlab-ci.yml
  Taskfile.yml
Due: publish:dockerhub

automation(upstream-sync) Applying changes from upstream repository.
  .gitlab/ci/scripts/update-init.sh
Due: publish:dockerhub

Latest
  .boilerplate/defaults/main.yml
  .boilerplate/meta/main.hbs.yml
  .boilerplate/requirements.yml
  .boilerplate/tasks/install-Archlinux.yml
  .boilerplate/tasks/install-Darwin.yml
  .boilerplate/tasks/install-Debian.yml
  .boilerplate/tasks/install-RedHat.yml
  .boilerplate/tasks/install-Windows.yml
  .boilerplate/tasks/main.yml
  .boilerplate/vars/Archlinux.yml
  .boilerplate/vars/Darwin.yml
  .boilerplate/vars/Debian.yml
  .boilerplate/vars/RedHat.yml
  .boilerplate/vars/Windows.yml
  .boilerplate/vars/main.yml
  .config/common-keywords.hbs.json
  .config/log
  .config/variables.json
  LICENSE.handlebars
  Taskfile.yml.handlebars
  molecule/converge.hbs.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
  package.hbs.json
  package.json
  pyproject.hbs.toml
  test/darwin/test.hbs.yml
  test/linux/test.hbs.yml
  test/windows/test.hbs.yml
Due: publish:dockerhub, publish:npm, test:molecule:linux, test:molecule:darwin, test:molecule:windows

Latest
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .config/taskfiles/upstream/Taskfile-commondocs.yml
  .config/taskfiles/upstream/Taskfile-docs.yml
  .config/taskfiles/upstream/Taskfile-project.yml
  .config/taskfiles/upstream/Taskfile-shared.yml
  .gitlab/ci/scripts/update-init.sh
Due: publish:dockerhub

Update molecule/local/molecule.yml
  molecule/local/molecule.yml
Due: none

♻️ refactor(delete): removing old files
  LICENSE.handlebars
  Taskfile.yml.handlebars
  molecule/converge.hbs.yml
  package.hbs.json
  pnpm-lock.yaml
  pyproject.hbs.toml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

♻️ refactor(upstream): syncing upstream changes
  .config/taskfiles/ansible/Taskfile.yml
Due: none

♻️ refactor(upstream): syncing with upstream file changes
  .config/docs/common.json
  .config/docs/pnpm-lock.yaml
  .config/docs/readme-role/dependencies.md
  .config/scripts/start.sh
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/security/Taskfile.yml
  .config/variables.json
  .gitlab/ci/update/common.gitlab-ci.yml
  .gitlab/ci/update/project.gitlab-ci.yml
  .vscode/tasks.json
  README.md
  Taskfile.yml
Due: publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/common.json
  .config/docs/readme-role/dependencies.md
  .config/docs/variables.json
  .config/variables.json
  README.md
  docs/CONTRIBUTING.md
  meta/main.yml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/common.json
  .config/taskfiles/docker/Taskfile-test.yml
  .config/taskfiles/install/Taskfile-software.yml
  .vscode/tasks.json
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/readme-role/subheader.md
  .config/docs/variables.json
  .config/variables.json
  README.md
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/readme-role/subheader.md
  README.md
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/virtualbox.js
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/molecule/docker.create.yml
  .config/molecule/docker.destroy.yml
  .config/molecule/filter_plugins/get_docker_networks.py
  .config/molecule/prepare.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/local.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/ssh.js
  .config/scripts/prompts/molecule/virtualbox.js
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/variables.json
  .gitlab/ci/test/ansible/playbook.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.windows.gitlab-ci.yml
  README.md
  molecule/converge.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  molecule/remote/molecule.yml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/test/ansible/e2e.linux.gitlab-ci.yml
  .gitlab/ci/test/ansible/e2e.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/e2e.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/playbook.windows.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.macos.gitlab-ci.yml
  .gitlab/ci/test/ansible/role.windows.gitlab-ci.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitignore
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/requirements.txt
  .config/scripts/prompts/molecule/molecule.js
  poetry.lock
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

♻️ refactor(upstream): latest upstream changes
  README.md
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  README.md
Due: none

🐛 fix(ansible version): updated meta/main.yml to reflect proper min ansible version
  meta/main.yml
Due: test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile.yml
  .gitlab/ci/scripts/update-init.sh
  meta/main.yml
Due: publish:dockerhub, test:molecule:linux, test:molecule:darwin, test:molecule:windows

⤵️ automation(synchronize) Applying changes from upstream repository.
  .github/workflows/macOS.yml
  .gitlab/ci/scripts/update-init.sh
  molecule/default/prepare.yml
Due: publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .gitlab/ci/scripts/update-init.sh
Due: publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/boilerplate/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/CODE_OF_CONDUCT.md
  .config/docs/CONTRIBUTING.md
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/lib/log.js
  .config/scripts/prompts/molecule/desktop.js
  .config/scripts/prompts/molecule/docker.js
  .config/scripts/prompts/molecule/molecule.js
  .config/scripts/prompts/molecule/ssh.js
  .config/scripts/prompts/molecule/virtualbox.js
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .gitlab/ci/scripts/update-init.sh
  .vscode/tasks.json
  Taskfile.yml
  molecule/.results/.gitkeep
  molecule/remote/molecule.yml
Due: publish:dockerhub

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/molecule/molecule.js
Due: none
